lxml>=5.2.2
numpy>=1.26.4
pandas>=2.2.2
requests>=2.31.0
pytz>=2024.1
matplotlib>=3.7.5
seaborn>=0.13.2
plotly>=5.22.0
alpaca-py>=0.21.1
ntplib>=0.4.0
yfinance>=0.2.38
PyWavelet>=0.0.1b0
pandas_ta>=0.3.14b0
scikit-learn>=1.4.2
statsmodels>=0.14.2
TA-Lib>=0.4.19
mplfinance>=0.12.10b0