lxml>=5.2.2
numpy>=1.26.4
pandas>=2.2.2
pandas_market_calendars>=4.4.0
requests>=2.31.0
pytz>=2024.1
matplotlib>=3.7.5
seaborn>=0.13.2
alpaca-py>=0.21.1
ntplib>=0.4.0
yfinance>=0.2.38
PyWavelet>=0.0.1b0
